<footer class="footer">
    <div class="footer__container _container">
        <div class="footer__row">
            <div class="footer__column">
                <div class="item-footer">
                    <div class="item-footer__title">Органы власти</div>
                    <div class="item-footer__content content-footer">
                        <ul class="content-footer__list">
                            <li><a href="https://minobrnauki.gov.ru/" class="content-footer__link" target="_blank">Министерство науки и высшего образования РФ</a></li>
                            <li><a href="https://edu.gov.ru/" class="content-footer__link" target="_blank">Министерство просвещения РФ</a></li>
                            <li><a href="http://udmurt.ru/" class="content-footer__link" target="_blank">Официальный сайт Главы Удмуртской Республики</a></li>
                            <li><a href="https://udmedu.ru/" class="content-footer__link" target="_blank">Министерство образования и науки УР</a></li>
                            <li><a href="http://www.msur.ru/" class="content-footer__link" target="_blank">Министерство информатизации и связи УР</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__column">
                <div class="item-footer">
                    <div class="item-footer__title">Федеральные ресурсы</div>
                    <div class="item-footer__content content-footer">
                        <ul class="content-footer__list">
                            <li><a href="http://www.gosuslugi.ru/" class="content-footer__link" target="_blank">Портал государственных услуг РФ</a></li>
                            <li><a href="http://uslugi.udmurt.ru/" class="content-footer__link" target="_blank">Региональный портал государственных и муниципальных услуг Удмуртской Республики</a></li>
                            <li><a href="http://www.edu.ru/" class="content-footer__link" target="_blank">Российское образование. Федеральный образовательный портал</a></li>
                            <li><a href="http://window.edu.ru/" class="content-footer__link" target="_blank">Единое окно доступа к образовательным ресурсам</a></li>
                            <li><a href="http://school-collection.edu.ru/" class="content-footer__link" target="_blank">Единая коллекция цифровых образовательных ресурсов</a></li>
                            <li><a href="http://fcior.edu.ru/" class="content-footer__link" target="_blank">Федеральный центр информационно-образовательных ресурсов</a></li>
                            <li><a href="http://www.pravo.gov.ru/" class="content-footer__link" target="_blank">Официальный интернет-портал правовой информации</a></li>
                            <li><a href="http://об-образовании.рф/" class="content-footer__link" target="_blank">Образование России: новое правовое регулирование</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__column">
                <div class="item-footer">
                    <div class="item-footer__title">Организации, Подведомственные МОИН УР</div>
                    <div class="item-footer__content content-footer">
                        <ul class="content-footer__list">
                            <li><a href="http://рцииоко.рф/" class="content-footer__link" target="_blank">АУ УР "Региональный центр информатизации и оценки качества образования"</a></li>
                            <li><a href="http://ipkpro.ru/" class="content-footer__link" target="_blank">АОУ ДПО УР "Институт развития образования"</a></li>
                            <li><a href="http://udmniino.ru/" class="content-footer__link" target="_blank">БУ УР "Научно-исследовательский институт национального образования"</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__column">
                <div class="item-footer">
                    <div class="item-footer__title">Дополнительная информация</div>
                    <div class="item-footer__content content-footer">
                        <ul class="content-footer__list">
                            <li><a href="" class="content-footer__link" target="_blank">Политика конфидициальности</a></li>
                            <li><a href="" class="content-footer__link" target="_blank">Пользовательское соглашение</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>